* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
}

.page1 {
   height: 100vh;
}

.header {
height: 10%;
}

.nav-wrapper {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   padding-top: 20px;
}

.nav-list {
   display: flex;
   margin-left: -45px;
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
   font-size: 16px;
}

.nav-list li {
   padding-right: 20px;
   cursor: pointer;
}

.logo {
   align-self: center;
   margin-right: 230px;
   cursor: pointer;
}

.links {
   align-self: center; 
   cursor: pointer;
}

.links img {
   margin-right: 18px;
}




.main {
   height: 90%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   background-color: #F0EFEB;
   
}

.text {
   display: flex;
   flex-direction: column;
}

.titile {
   align-self: left;
   font-family: 'Roboto', sans-serif;
   font-size: 60px;
   font-style: normal;
   font-weight: 700;
   margin-bottom: 42px;
}
.information {
   font-family: 'Roboto', sans-serif;
   font-size: 24px;
   font-weight: 400;
   margin-bottom: 26px;
}

.button {
   background: #000;
   border-radius: 100px;
   height: 36px;
   width: 130px;
   color: #FFF;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 17px;
   border: none;
   cursor: pointer;
}





.guides {
   height: 450px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 60px;
}

.guides h2 {
   font-family: Roboto, sans-serif;
   font-size: 36px;
   font-weight: 700;
   margin-bottom: 27px;
}
.guides p {
   font-family: Roboto, sans-serif;
   font-size: 20px;
   font-weight: 400px;
   margin-bottom: 27px;
}
.guides :last-child {
   margin-top: 70px;
   margin-bottom: 50px;
}

.card-description {
   height: 700px;
   display: flex;
   justify-content: center;
   gap: 60px;
}
.card-1 {
   text-align: center;
}
.description {
   font-family: Roboto, sans-serif;
   font-size: 17px;
   font-weight: 700;
   margin-top: 20px;
   margin-bottom: 17px;
   margin-left: 78px;
   height: 60px;
   width: 155px;
   

}
.price {
   font-family: Roboto, sans-serif;
   font-size: 17px;
   font-weight: 400;
   margin-bottom: 10px;
}
.card-1 a {
   font-family: Roboto, sans-serif;
   font-size: 17px;
   font-weight: 700;
}

.card-2 {
   text-align: center;
}

.card-2 a {
   font-family: Roboto, sans-serif;
   font-size: 17px;
   font-weight: 700;
}

.card-3 {
   text-align: center;
}

.card-3 a {
   font-family: Roboto, sans-serif;
   font-size: 17px;
   font-weight: 700;
}




.single-card-description1 {
   height: 652px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   background-color: #CCCCCC4D;
}

.single-card-description2 {
   height: 652px;
   display: flex;
   flex-direction: row-reverse;
   justify-content: center;
   align-items: center;
   background-color: #CCCCCC99;
}

.single-card-description3 {
   height: 652px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   background-color: #CCCCCC4D;
}

.wrapper {
   margin: 0 50px 0 50px;
}

.single-card-description2 .wrapper {
   text-align: right;
}

.wrapper h2 {
   font-family: Roboto, sans-serif;
   font-size: 36px;
   font-weight: 700;
   margin-bottom: 31px;
}

.wrapper p {
   font-family: Roboto, sans-serif;
   font-size: 36px;
   font-weight: 400;
   margin-bottom: 40px;
}

.wrapper h3 {
   font-family: Roboto, sans-serif;
   font-size: 17px;
   font-weight: 700;
   text-decoration-line: underline;
   }

.single-card-description2 {
   height: 652px;
   display: flex;
}

.single-card-description3 {
   height: 652px;
   display: flex;
}



.text-features {
   display: flex;
   justify-content: center;
   width: 450px;
   height: 85px;
   margin: 190px auto 69px auto;
}
.text-features span {
   font-family: Roboto, sans-serif;
   font-size: 36px;
   font-weight: 400;
   text-align: center;
}



.dots-group-wrapper {
   display: flex;
   justify-content: space-evenly;
   margin-bottom: 163px;
}
.dots-group-wrapper p {
   font-family: Roboto, sans-serif;
   font-size: 30px;
   font-weight: 700;
   text-align: center;
}
.dots-group1 {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.dots-group2 {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.dots-group3 {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.dot1 {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.dot4 {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.dot2 {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.dot5 {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.dot3 {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.dot6 {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.dot1 {
   margin-bottom: 111px;
}
.dot2 {
   margin-bottom: 111px;
}
.dot3 {
   margin-bottom: 111px;
}



.text-voices {
   display: flex;
   justify-content: center;
   margin: 0 auto 102px auto;
   width: 705px;
   height: 85px; 
}
.text-voices span {
   font-family: Roboto, sans-serif;
font-size: 36px;
font-weight: 700;
text-align: center;
}

.card-voices-description {
   height: 770px;
   display: flex;
   justify-content: space-evenly;
   position: relative;
   z-index: 5;
}
.round-card-1 {
   position: relative;
   z-index: 5;
}
.round-card-2 {
   position: relative;
   z-index: 5;
}
.round-card-3 {
   position: relative;
   z-index: 5;
}
.card-voices-description h3 {
   font-family: Roboto, sans-serif;
   font-weight: bold;
   font-size: 18px;
   text-align: center;
   text-decoration-line: underline;
}
.round-card-1 :nth-child(2) {
   font-family: Roboto, sans-serif;
   font-size: 22px;
   font-weight: 700;
   text-align: center;
}
.round-card-1 :nth-child(3) {
   font-family: Roboto, sans-serif;
   font-size: 19px;
   font-weight: 400;
   text-align: center;
   margin-bottom: -15px;
}
.round-card-1 :nth-child(4) {
   font-family: Roboto, sans-serif;
   font-size: 20px;
   font-weight: 400;
   text-align: center;
}
.round-card-2 :nth-child(2) {
   font-family: Roboto, sans-serif;
   font-size: 22px;
   font-weight: 700;
   text-align: center;
}
.round-card-2 :nth-child(3) {
   font-family: Roboto, sans-serif;
   font-size: 19px;
   font-weight: 400;
   text-align: center;
   margin-bottom: -15px;
}
.round-card-2 :nth-child(4) {
   font-family: Roboto, sans-serif;
   font-size: 19px;
   font-weight: 400;
   text-align: center;
}
.round-card-3 :nth-child(2) {
   font-family: Roboto, sans-serif;
   font-size: 22px;
   font-weight: 700;
   text-align: center;
}
.round-card-3 :nth-child(3) {
   font-family: Roboto, sans-serif;
   font-size: 19px;
   font-weight: 400;
   text-align: center;
   margin-bottom: -15px;
}
.round-card-3 :nth-child(4) {
   font-family: Roboto, sans-serif;
   font-size: 19px;
   font-weight: 400;
   text-align: center;
}



.card-voices-description::after {
   content: '';
   position: absolute;
   width: 100%;
   height: 480px;
   background-color: #F0F0F0;
   top: 193px;
   z-index: 1;
}

   .touch-text p {
      font-family: Roboto, sans-serif ;
   font-size: 36px;
   font-weight: 700;
   text-align: center;
   margin-bottom: 9px;

   }

.touch-text h3 {
      font-family: Roboto, sans-serif;
      font-size: 17px;
      line-height: 20px;
      text-align: center;
      margin-bottom: 26px;
}

.input-information {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 18px;
}

.input-name {
   display: flex;
   justify-content: center;
   gap: 52px;
   margin-bottom: 18px;
}
.Email input[type=text]{
   width: 359px;
   height: 39px;
}
.input-name input[type=text] {
   width: 153px;
   height: 39px;
}
.wrapper-Email-button {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 16px;
   margin-bottom: 88px;
}

footer {
   display: flex;
   height: 277px;
   background-color: #020202;
}

.logo-items {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 45px;
   margin-top: 52px;
   margin-left: 173px;
}

.logo-items div :nth-child(2) {
   margin: 0 21px;
}

.footer-ul1 :first-child {
   font-family: Roboto, sans-serif;
   font-size: 14px;
   font-weight: 400;
   text-align: left;
   color: #FFF;
   text-transform: uppercase;
   margin-bottom: 36px;
}

.footer-ul1 {
   font-family: Roboto, sans-serif;
   font-size: 14px;
   font-weight: 400;
   text-align: left;
   color: #FFF;
   margin-top: 52px;
   margin-left: 586px;
   margin-right: 72px;
}

.footer-ul1 li {
   margin-bottom: 1em;
}

.footer-ul2 :first-child {
   font-family: Roboto, sans-serif;
   font-size: 14px;
   font-weight: 400;
   text-align: left;
   color: #FFF;
   text-transform: uppercase;
   margin-bottom: 36px;
}

.footer-ul2 {
   font-family: Roboto, sans-serif;
   font-size: 14px;
   font-weight: 400;
   text-align: left;
   color: #FFF;
   margin-top: 52px;
   
}
.footer-ul2 li {
   margin-bottom: 1em;
}

.copyright {
   font-family: Roboto, sans-serif;
font-size: 14px;
font-weight: 400;
text-align: center;
color: #FFF;
background-color: #020202;
padding-bottom: 16px;
}